<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bikes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
</head>
<body>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Добавить bike</h1>
                <form class="needs-validation" novalidate th:action="@{/bikes}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <select multiple class="form-control" name="madeInIId" required>
                            <option th:each="madeIn : ${madeIns}"
                                    th:value="${madeIn.madeInId}"
                                    th:text="${madeIn.bikeName + '  ' + madeIn.location}">MadeIn</option>
                        </select>
                        <div class="invalid-feedback">Выберите одного пройзводителя </div>
                    </div>
                    <div class="form-group">
                        <label for="bike_model">Bike Model</label>
                        <input type="text" class="form-control" id="bike_model" name="bikeModel" required/>
                        <div class="invalid-feedback">Введите модель bike</div>
                    </div>
                    <div class="form-group">
                        <label for="bike_color">Bike Color</label>
                        <input type="text" class="form-control" id="bike_color" name="bikeColor" required/>
                        <div class="invalid-feedback">Введите цвет bike</div>
                    </div>
                    <div class="form-group">
                        <label for="bike_year">Bike Year</label>
                        <input type="text" class="form-control" id="bike_year" name="bikeYear" required/>
                        <div class="invalid-feedback">Введите год bike</div>
                    </div>
                    <button type="submit" class="btn btn-default" id="submit">Добавить игрока</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Bike</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>BikeName</th>
                        <th>BikeModel</th>
                        <th>BikeColor</th>
                        <th>BikeYear</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bike : ${bikes}">
                        <td th:text="${bike.bikeId}"></td>
                        <td th:text="${bike.madeIn.bikeName}"></td>
                        <td th:text="${bike.bikeModel}"></td>
                        <td th:text="${bike.bikeColor}"></td>
                        <td th:text="${bike.bikeYear}"></td>
                        <td> <a th:href = "@{'/remove?id='+${bike.bikeId}}"><button class="btn btn-outline=danger">Удалить</button></a><td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/jquery.js" type="application/javascript"></script>
<script src="/bootstrap.min.js" type="application/javascript"></script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>